
.support {
  border-radius: var(--separation-1);
  background-color: var(--color-white);
  margin-top: var(--separation-1);
  margin-bottom: var(--separation-2);

  &--bold {
    font-weight: bold;
  }

  p {
    color: var(--color-black);
    font: normal normal normal var(--font-size-footer-paragraph)/var(--line-spacing-footer-paragraph) Roboto;
    letter-spacing: 0;
    margin: var(--separation-3);
    margin-top: 0;
    text-align: left;
  }

  &__external-link:before {
    content: " ";
    display: inline-flex;
    zoom: 1.5;
  }

  &__iconography-github:before {
    background: var(--icon-github-background);
    width: var(--icon-github-width);
    height: var(--icon-github-height);
    left: -2px;
    top: -5px;
    margin-right: calc(var(--separation-0) / 2);
  }

  h1 {
    margin-left: var(--separation-3);
    text-align: left;
  }

  a {
    @extend .clickable;
  }
}
