
.month-picker {
  background-color: var(--color-white);
  display: flex;
  flex-wrap: wrap;
  height: 268px; /** See CalendarMonth max height **/
  width: 100%;

  @media (min-width: $width-desktop) {
    border-bottom-left-radius: var(--separation-1);
    border-bottom-right-radius: var(--separation-1);
    height: auto;
  }

  &__buttons {
    display: flex;
    background-color: var(--color-white);
    justify-content: space-between;
    margin: 0 auto auto;
    width: calc(100% - 2 * var(--separation-2));
  }

  &__container {
    background: var(--color-white) 0 0% no-repeat padding-box;
    border: 1px solid var(--color-brand);
    border-radius: var(--border-radius-date-picker);
    display: flex;
    height: var(--height-date-picker);
    padding: 5px 4px 5px 4px;
    position: relative;
    line-height: calc(var(--height-date-picker) + 10px);
    margin-bottom: var(--margin-navigation);
    margin-top: 10px;
    align-content: flex-end;

    &:hover {
      background-color: var(--color-background-button-active);
      border-color: var(--color-background-button-active);

      .month-picker__button {
        color: var(--color-white);

        &:before {
          filter: $filter-white;
        }
      }
    }

    &:active {
      background-color: var(--color-background-button-active);
      border-color: var(--color-brand);

      .month-picker__button {
        color: var(--color-brand-active);

        &:before {
          filter: $filter-brand-active;
        }
      }
    }
  }

  &__button {
    background: transparent;
    border: none;
    color: var(--color-brand);
    display: flex;
    font: normal normal normal var(--font-size-date-picker)/var(--line-spacing-date-picker) Roboto;
    height: var(--height-date-picker);
    letter-spacing: 0;

    &:before {
      content: "";
      display: inline-flex;
      background: var(--icon-pick-item-background);
      filter: $filter-brand;
      width: var(--icon-pick-item-width);
      height: var(--icon-pick-item-height);
      margin-right: 5px;
    }
  }

  &__previous-item,
  &__next-item {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    height: 32px;
    width: 32px;
    line-height: 32px;
    margin: var(--margin-navigation) 16px 0 0;
    padding: 1px;

    &:before {
      background: var(--icon-previous-item-background);
      content: "";
      display: inline-flex;
      filter: $filter-brand;
      height: var(--icon-previous-item-height);
      width: var(--icon-previous-item-width);
    }

    &:hover {
      border-color: var(--color-brand);
    }

    &:active {
      color: var(--color-white);
      border-color: var(--color-background-button-active);
      background-color: var(--color-brand);

      &:before {
        filter: $filter-active
      }
    }
  }

  &__next-item {
    margin-left: 0;
    margin-right: 0;

    &:before {
      background: var(--icon-next-item-background);
      height: var(--icon-next-item-height);
      width: var(--icon-next-item-width);
    }
  }

  &__previous-item--disabled,
  &__next-item--disabled {
    cursor: not-allowed;

    &:hover {
      cursor: not-allowed;
      border: 1px solid var(--color-white);
    }

    &:before {
      cursor: not-allowed;
      filter: $filter-content;
    }
  }

  &__navigation {
    display: flex;
  }
}
