
.date-picker {
  background: transparent;
  border: none;
  color: var(--color-white);
  font: normal normal normal var(--font-size-date-picker)/var(--line-spacing-date-picker) Roboto;
  letter-spacing: 0;
  height: 21px;

  &__buttons {
    align-self: center;
    background-color: var(--color-brand);
    color: var(--color-white);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-self: center;
    position: sticky;
    bottom: 0;
    width: 100%;

    @extend .responsive-content;

    [for="start-date"],
    [for="end-date"],
    [for="date"] {
      color: $color-hyperlink;
      margin-left: 0;
      display: flex;
      flex-wrap: wrap;
      justify-self: flex-start;

      [type="date"] {
        background: transparent;
        border: 1px solid $color-hyperlink;
        color: $color-hyperlink;
        font-size: 2em;
        font-family: $font-family;
        margin-left: 0;
        padding: 0.2em;
        width: auto;
      }

      &.highlight-list__dates {
        max-width: 660px;
        width: 660px;
      }
    }

    .highlight-list__retweets {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: 1em;
      margin-top: 1em;
      margin-right: 1em;

      &-label,
      [for="excluded-retweets"],
      [for="excluded-retweets"],
      [for="included-retweets"] {
        align-self: center;
        color: $color-hyperlink;
        cursor: pointer;
        display: flex;
        font-size: 1em;
        justify-self: flex-end;
        margin-left: 0.5em;
        text-decoration: underline;

        [type="radio"] {
          align-self: center;
          font-size: 2em;
          height: 0.5em;
          line-height: 1em;
          margin-right: 0.2em;
          width: 0.5em;
        }
      }
    }
  }

  &__container {
    background: var(--color-brand) 0% 0% no-repeat padding-box;
    background: #00cdc7 0% 0% no-repeat padding-box;
    border: 1px solid var(--color-white);
    border-radius: var(--border-radius-date-picker);
    box-sizing: border-box;
    display: flex;
    padding: 5px 4px 6px 4px;
    position: relative;
    margin: var(--margin-navigation) var(--separation-2);

    &:before {
      content: "";
      display: inline-flex;
      background: var(--icon-calendar-background);
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
      width: var(--icon-calendar-width);
      height: var(--icon-calendar-height);
      zoom: 1.5;
    }
  }

  &__previous-day,
  &__next-day {
    background: transparent;
    border: none;
    height: 32px;
    width: 32px;
    margin: var(--margin-navigation) 16px var(--margin-navigation);
    margin-left: 0;
    padding: 0;

    &:before {
      background: var(--icon-previous-day-background);
      content: "";
      display: inline-flex;
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
      height: var(--icon-previous-day-height);
      width: var(--icon-previous-day-width);
    }
  }

  &__next-day {
    margin-left: 0;

    &:before {
      background: var(--icon-next-day-background);
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
      height: var(--icon-next-day-height);
      width: var(--icon-next-day-width);
    }
  }

  &__navigation {
    display: flex;
    height: 100%;
  }
}
