
.date-picker {
  background-color: var(--color-white);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  bottom: 0;
  color: var(--color-white);
  width: 100%;

  &__pickers {
    margin: auto;

    @media (min-width: var(--width-left-column-mobile)) {
      max-width: var(--width-left-column-mobile);
    }
  }

  &__buttons {
    display: flex;
    background-color: var(--color-brand);
    margin: auto;
    position: relative;
    width: var(--width-left-column-desktop);
  }

  &__container {
    background: var(--color-brand) 0% 0% no-repeat padding-box;
    border: 1px solid var(--color-white);
    border-radius: var(--border-radius-date-picker);
    cursor: pointer;
    display: flex;
    height: calc(21px + calc(2 * --margin-navigation) + 10px);
    padding: 5px 4px 5px 4px;
    position: relative;
    margin: var(--margin-navigation) var(--separation-2);
    align-content: flex-end;

    &:hover {
      border-color: var(--color-background-button-active);

      .date-picker__button {
        border-color: var(--color-background-button-active);
        color: var(--color-white);
      }
    }

    .date-picker__container--active,
    &:active {
      background-color: var(--color-background-button-active);
      border-color: var(--color-background-button-active);

      .date-picker__button {
        color: var(--color-white);
      }
    }

    &[data-disabled="true"] {
      border-color: transparent;
      cursor: none;

      .date-picker__button {
        cursor: default;
      }
    }
  }

  &__button {
    background: transparent;
    border: none;
    color: var(--color-white);
    display: flex;
    font: normal normal normal var(--font-size-date-picker)/var(--line-spacing-date-picker) Roboto;
    height: var(--height-date-picker);
    letter-spacing: 0;

    &:before {
      content: "";
      display: inline-flex;
      background: var(--icon-calendar-background);
      filter: $filter-white;
      width: var(--icon-calendar-width);
      height: var(--icon-calendar-height);
      margin-right: 5px;
    }
  }

  &__previous-day,
  &__next-day {
    background: transparent;
    border-color: transparent;
    display: block;
    margin: calc(var(--margin-navigation) - 4px) calc(16px - 4px) var(--margin-navigation);
    margin-left: 0;
    padding: 0;
    padding-left: 4px;
    padding-top: 4px;

    &:before {
      background: var(--icon-previous-day-background);
      content: "";
      display: inline-flex;
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
      height: var(--icon-previous-day-height);
      width: var(--icon-previous-day-width);
    }

    &:hover {
      &:before {
        background: var(--icon-previous-day-background-hover);
        filter: none;
      }
    }

    &:active {
      &:before {
        background: var(--icon-previous-day-background-active);
        filter: none;
      }
    }
  }

  &__next-day {
    margin-left: 0;

    &:before {
      background: var(--icon-next-day-background);
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
      height: var(--icon-next-day-height);
      width: var(--icon-next-day-width);
    }

    &:hover {
      &:before {
        background: var(--icon-next-day-background-hover);
        filter: none;
      }
    }

    &:active {
      &:before {
        background: var(--icon-next-day-background-active);
        filter: none;
      }
    }
  }

  &__previous-day,
  &__next-day {
    &--disabled {
      &:before {
        cursor: default;
        filter: $filter-active;
      }

      &:active,
      &:hover {
        &:before {
          background: var(--icon-previous-day-background);
          filter: $filter-active;
        }
      }
    }
  }

  &__next-day {
    &--disabled {
      &:active,
      &:hover {
        &:before {
          background: var(--icon-next-day-background);
          filter: $filter-active;
        }
      }
    }
  }

  &__navigation {
    display: flex;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
  }
}
