
.outro {
  background: var(--color-content-background) 0 0 no-repeat padding-box;
  border-top: 1px $color-black solid;
  margin: 0;
  width: 100%;

  &__paragraph {
    font-size: 1.2em;
  }

  @media (min-width: $width-large-device) {
    border-radius: var(--separation-1);
    margin-top: var(--separation-1);
    max-width: var(--width-left-column-desktop);
  }

  a {
    @extend .underline;
    color: var(--color-brand-twitter);
  }

  em {
    text-decoration: underline;
    font-style: normal;
  }

  &__iconography {
    &-introducing:before {
      background: var(--icon-introducing-background);
      width: var(--icon-introducing-width);
      height: var(--icon-introducing-height);
      left: -5px;
      top: -2px;
    }

    &-sharing:before {
      background: var(--icon-sharing-background);
      width: var(--icon-sharing-width);
      height: var(--icon-sharing-height);
      left: -5px;
      top: -2px;
    }

    &-funding:before {
      background: var(--icon-funding-background);
      width: var(--icon-funding-width);
      height: var(--icon-funding-height);
      left: -2px;
      top: -5px;
    }
  }

  &__list {
    color: var(--color-white);
    line-height: 1.5em;
  }

  &__subscribe-to,
  &__subscribe-to:active,
  &__subscribe-to:hover,
  &__subscribe-to:link,
  &__subscribe-to:visited {
    display: inline-flex;
    background: var(--color-brand-twitter) 0 0 no-repeat padding-box;
    border-radius: 4px;
    font: normal normal normal var(--font-size-footer-outer-link)/var(--line-spacing-footer-outer-link) Arial;
    opacity: 1;
    letter-spacing: 0;
    padding: 0;
    margin-top: var(--separation-0);
    text-align: left;
  }

  &__subscribe-to-anchor,
  &__subscribe-to-anchor:active,
  &__subscribe-to-anchor:hover,
  &__subscribe-to-anchor:link,
  &__subscribe-to-anchor:visited {
    color: var(--color-white);
    height: var(--line-height-base);
    line-height: var(--line-height-base);
    padding: 5px var(--separation-0) 4px;
    text-decoration: none;
  }

  &__subscription-label,
  &__subscription-label:active,
  &__subscription-label:link,
  &__subscription-label:hover,
  &__subscription-label:visited {
    padding-left: var(--separation-0);
  }

  &__icon {
    height: 1.2em;
    line-height: 1.2em;
  }

  &__title {
    color: var(--color-white);
    position: relative;
    padding-left: 30px;

    &:before {
      color: var(--color-white);
      content: "";
      display: inline-flex;
      zoom: 1.5;
      position: absolute;
    }
  }

  &__copyright {
    margin: auto;
    margin-bottom: var(--separation-2);
  }

  &__copyright-footer {
    color: var(--color-white);
    display: flex;
    font: normal normal normal var(--font-size-footer-copyright)/var(--line-spacing-footer-copyright) Roboto;
    text-align: center;
    width: 100%;

    .outro__outer-link {
      display: inline-flex;
      margin: auto;
      align-self: center;

      &:active,
      &:active,
      &:hover,
      &:link,
      &:visited {
        color: var(--color-white);
      }
    }
  }
}
