@import '../member-status-list/member-status-list.scss';

.highlight-list {
  position: relative;
  margin-top: 64px;

  @extend .member-status-list;

  &__loading,
  &__empty-list {
    font-size: $font-size-base;
  }

  &__container {
    display: flex;
    width: calc(100% - 2*var(--separation-2));

    &--filled {
      min-height: 100vh;
    }
  }

  &__date-label {
    display: flex;
    width: 100%;
    margin-bottom: $separation-1;
  }

  .highlight-list__clear-selection {
    cursor: pointer;
    background: transparent;
    height: 2em;

    &:hover {
      border-color: $color-orange;
    }
  }

  .list__item:last-child {
    border-bottom: none;
  }

  .highlight-list__content {
    display: flex;
    flex-direction: column-reverse;
  }

  @media (min-width: $width-desktop) {
    .highlight-list__content {
      flex-direction: row;
    }

    .highlight-list__container {
      min-width: var(--width-right-column-desktop);
      max-width: var(--width-right-column-desktop);
      margin-left: var(--separation-2);
    }
  }
}
