@import '../member-status-list/member-status-list.scss';

.highlight-list {
  @extend .member-status-list;

  &__loading,
  &__empty-list {
    @extend .responsive-content;
    font-size: $font-size-base;
  }

  &__container {
    display: block;

    &--filled {
      min-height: 100vh;
    }
  }

  &__date-label {
    display: flex;
    width: 100%;
    margin-bottom: $separation-1;
  }

  [for="select-aggregates"] {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    justify-content: center;
    text-align: center;
    color: $color-black;
    margin-top: 1em;
    width: 100%;
  }

  &__aggregates {
      /deep/ &.list__items {
        margin-top: 1em;
        background: transparent;
        border: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 12em;
        width: 100%;

        @media only screen and (max-device-width : 640px) {
          height: 2em;
        }

        @media only screen and (max-device-width: 768px) {
          height: 2em;
        }

        .list__item {
          border: none;
          color: $color-hyperlink;
          text-decoration: underline;
          display: flex;
          font-size: 1.5em;
          font-family: $font-family;
          height: 1.5em;
          line-height: 1.85em;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          width: 100%;
        }
      }
  };

  &--anonymously-visited {
    margin-top: 0;
  }

  .status {
    margin-top: 15px;
  }

  .highlight-list__member-profile {
    color: $color-black;

    &:link,
    &:hover,
    &:visited,
    &:active {
      color: $color-black;
    }
  }

  .highlight-list__clear-selection {
    cursor: pointer;
    background: transparent;
    height: 2em;

    &:hover {
      border-color: $color-orange;
    }
  }

  .highlight-list__member-profile {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-content: center;
  }

  .list__item:last-child {
    border-bottom: none;
  }
}
