
.sources {
  border-radius: var(--separation-1);
  background-color: var(--color-white);
  margin-top: var(--separation-1);
  margin-bottom: var(--separation-1);

  p {
    color: var(--color-black);
    font: normal normal normal var(--font-size-footer-paragraph)/var(--line-spacing-footer-paragraph) Roboto;
    letter-spacing: 0;
    margin: var(--separation-3);
    margin-top: 0;
    text-align: left;
  }

  h1 {
    margin-left: var(--separation-3);
    text-align: left;
  }

  &__media {
    display: flex;
    flex-wrap: wrap;

     @media (min-width: $width-desktop) {
       display: block;
     }

    .sources__external-link {
      @extend .clickable;

      color: var(--color-black);
      display: inline-block;
      max-width: 300px;
      text-decoration: underline var(--color-black);
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__source {
    width: 100%
  }

  .sources__internal-link {
    color: var(--color-black);
    text-decoration: underline var(--color-black);

    :active,
    :hover,
    :link,
    :visited {
      color: var(--color-black);
      text-decoration: underline var(--color-black);
    }
  }

  &__target {
    text-decoration: underline;
    font-size: 2em
  }

  &__footnote {
    text-decoration: none;
  }
}
