.loading-spinner {
  display: flex;
  height: var(--line-height-base);
  line-height: var(--line-height-base);
  text-align: center;

  /**
   * Super minimal CSS loading spinner
   * shared by Mark Oosting
   *  https://codepen.io/EastingAndNorthing/pen/aNWrZz
   */
  &__animation {
    pointer-events: none;
    width: 2.5em;
    height: 2.5em;
    border: 0.4em solid #eee;
    border-top-color: var(--color-brand);
    border-radius: 50%;
    animation: loading-pin 1s linear infinite;
  }

  @keyframes loading-pin {
    100% {
      transform: rotate(360deg)
    }
  }

  &__container {
    display: flex;
    margin: var(--separation-2) auto auto;
    min-height: 100px;
    text-align: center;
    width: auto;
  }

  &__spinner-container {
    margin-top: var(--separation-2);
  }

  &__icon {
    background: transparent;
    border: none;
    display: flex;
    font: normal normal normal var(--font-size-date-picker)/var(--line-spacing-date-picker) Roboto;
    height: var(--height-date-picker);
    letter-spacing: 0;

    &:before {
      content: "";
      display: inline-flex;
      background: var(--icon-warning-background);
      filter: $filter-error-icon;
      width: var(--icon-warning-width);
      height: var(--icon-warning-height);
      margin-right: 5px;
    }
  }

  p {
    color: var(--color-content-text);
    margin: auto auto auto var(--separation-0);
    height: var(--line-height-base);
    line-height: var(--line-height-base);
  }

  ::v-deep .loading-spinner__link,
  ::v-deep .loading-spinner__link:active,
  ::v-deep .loading-spinner__link:hover,
  ::v-deep .loading-spinner__link:link,
  ::v-deep .loading-spinner__link:visited
  {
    color: var(--color-black);
  }
}
