.modal-window {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: calc(100vh + 1px);
  width: 100%;
  left: 0;
  top: 0;
  overflow-y: hidden;

  &-overlay {
    position: absolute;
    background-color: $color-black;
    opacity: 0.98;
    height: 100%;
    width: 100%;
  }

  &__image {
    z-index: 1;
    object-fit: scale-down;
    width: 100%;

    @media (max-width: 768px) {
      object-fit: contain;
      width: 100%;
    }
  }
}
