
.publication-date {
  color: $color-publication-date;
  display: flex;
  font: normal normal normal var(--font-size-publication-date)/var(--line-spacing-publication-date) Arial;
  letter-spacing: 0;
  text-align: left;
  margin: var(--margin-status);
  margin-bottom: 0;
  width: calc(100% - 2 * var(--margin-status));

  &:hover,
  &:link,
  &:visited,
  &:active {
    color: $color-publication-date;
  }
}
