
.intro {
  background: $background-taupe-grey;
  padding: var(--separation-3);
  padding-top: var(--separation-2);
  padding-bottom: 0;

  &__container {
    background: var(--color-content-background) 0% 0% no-repeat padding-box;
    border-radius: 8px;
    display: flex;
    align-self: center;
    margin: auto;
    opacity: 1;
  }

  &__content {
    &-container {
      align-items: center;
      position: relative;
    }

    margin: var(--separation-2);
    margin-top: var(--separation-1);
    margin-bottom: var(--separation-0);
    color: var(--color-content-font);
    font: normal normal normal var(--font-size-content)/var(--line-spacing-content) Roboto;
  }

  &__arrow-up {
    border-bottom: 6px solid var(--color-content-background);
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    top: -5px;
    left: 30px;

    @media (min-width: $width-large-device) {
      display: none;
    }
  }

  &__close-intro {
    top: 0;
    right: var(--separation-1);
    color: var(--color-content-font);
    font-size: calc(3 * var(--separation-1));
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position: absolute;
  }

  &__footer-anchor {
    &:active,
    &:hover,
    &:link,
    &:visited {
      color: var(--color-content-font);
    }
  }
}
