const raven = {
  dsn: ''
};

const testMode = true;

const getApi = () => ({
  scheme: '',
  host: '',
  routes: {}
});

const authentication = {
  apiKey: '',
  auth0: {
    host: '',
    clientId: '',
    redirectUrl: '',
    logoutUrl: ''
  }
};
localStorage.setItem('x-auth-token', authentication.apiKey);

const api = {
  routes: {
    'Press review': '/'
  }
};

const getRoutes = () => api.routes;
const getSchemeAndHost = () => `${api.scheme}${api.host}`;

export default {
  getApi,
  authentication,
  getRoutes,
  getSchemeAndHost,
  raven,
  testMode
};
