@import '../../styles/list.scss';

.member-status-list {
  @extend .list;

  background-color: $background-taupe-grey;
  flex-direction: column;
  padding-top: 0;
  margin: auto;
  width: 100%;

  .list__item {
    height: auto;
    margin-top: var(--separation-2);

    &:first-child {
      margin-top: var(--separation-1);
    }
  }

  ::v-deep .status__links {
    width: 100%;

    .status__url--secondary-link {
      max-width: none;
      width: 100%;
    }
  }

  ::v-deep .status-text {
    line-height: 1.5em;
    white-space: pre-wrap;
  }
}
