@import '../../styles/list.scss';

.member-status-list {
  @extend .list;
  flex-direction: column;
  padding: 5px;
  padding-top: 0;
  width: auto;

  .list__item {
    height: auto;
  }

  /deep/ .status__links {
    width: 100%;

    .status__url--secondary-link {
      max-width: none;
      width: 100%;
    }
  }

  /deep/ .status-text {
    line-height: 1.5em;
    white-space: pre-wrap;
  }
}
