
.logo {
  display: flex;
  align-self: flex-start;
  height: 48px;
  margin-left: var(--separation-3);
  padding: 8px;
  padding-left: 0;

  .logo__container {
    display: flex;
    margin-left: 14px;
    padding: 0;
    margin-right: 8px;
  }

  .logo__title {
    @extend .font-logo-title;
    color: $color-brand;
  }
}
