
.logo {
  background-color: $color-white;
  display: flex;
  align-self: flex-start;
  height: 48px;
  padding: 8px;

  .logo__container {
    display: flex;
    margin-left: 14px;
    padding: 0;
    margin-right: 8px;
  }

  .logo__title {
    @extend .font-logo-title;
    color: $color-brand;
  }
}
