
$cell-width: 40px;
$cell-margin: 2px;
$max-width: 336px;

.calendar-margin {
  margin-left: var(--separation-1);
  margin-right: var(--separation-1);

  max-width: $max-width;
  width: calc(100vw - 2 * var(--separation-1));

  @media (min-width: $width-above-iphone-5) {
    margin-left: var(--separation-2);
    margin-right: var(--separation-2);
    width: calc(100vw - 2 * var(--separation-2));
  }
}

.calendar-month {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 10px;
  margin-bottom: var(--separation-3);
  @extend .calendar-margin;

  &__day-names {
    background-color: var(--color-white);
    display: flex;
    align-content: space-between;
    margin-bottom: 10px;
    width: 100%;
  }

  &__day-col {
    display: flex;
    text-align: center;
    width: 100%;
  }

  &__day-name {
    display: flex;
    font: normal normal normal var(--font-size-calendar-month-day)/var(--line-spacing-calendar-month-day) Arial;
    letter-spacing: 0;
    color: var(--color-brand);
    margin: auto;
    opacity: 1;
  }

  &__day-row {
    display: flex;
    width: 100%;
  }

  &__day-numbers {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &__day-number {
    display: flex;
    width: 100%;
  }

  &__day-cell {
    border: 1px solid var(--color-content-font);
    background: var(--color-white) 0% 0% no-repeat padding-box;
    border-radius: var(--border-radius-date-picker);
    color: var(--color-content-text);
    cursor: pointer;
    font: normal normal normal var(--font-size-calendar-month-day-cell)/var(--line-spacing-calendar-month-day-cell) Arial;
    letter-spacing: 0;
    height: calc(32px - #{$cell-margin});
    line-height: 32px;
    text-align: center;
    opacity: 1;
    width: $cell-width;

    &:hover {
      border-color: var(--color-brand);
      color: var(--color-brand);
    }

    &:active {
      border-color: var(--color-brand);
      background-color: var(--color-brand);
      color: var(--color-white);
    }
  }

  &__day-number--other-month {
    .calendar-month__day-cell {
      color: var(--color-content-font);
    }
  }
}
