@import '../../components/member-status-list/member-status-list.scss';

._day {

  position: relative;
  margin-top: 64px;

  &--naked {
    // original margin-top + most retweeted news paragraph height in header + separator
    margin-top: calc(64px + 25px + var(--separation-0));
  }

  @extend .member-status-list;

  &__container {
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 auto auto;
    width: calc(100vw - 2*var(--separation-2));

    &--filled {
      margin-bottom: var(--separation-1);
      min-height: 100vh;

      &-auto {
        min-height: auto;
      }

      &-with-emptiness {
        max-height: 100vh;
        overflow: hidden;

        @media (min-width: $width-desktop) {
          max-height: none;
          overflow: auto;
        }
      }
    }
  }

  &__column {
    align-self: flex-start;
    display: flex;
    flex-direction: column-reverse;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__navigation {
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100vw;
  }

  @media (min-width: $width-desktop) {
    ._day__content {
      flex-direction: row-reverse;
    }

    ._day__container {
      min-width: var(--width-right-column-desktop);
      max-width: var(--width-right-column-desktop);
      margin-left: var(--separation-2);

      &--filled {
        margin-bottom: auto;
      }
    }

    &__navigation {
      position: static;
      bottom: auto;
      left: auto;
      width: auto;
    }
  }
}
