
.legal-notice {
  border-radius: var(--separation-1);
  background-color: var(--color-white);
  margin-top: var(--separation-1);
  margin-bottom: 0;

  p {
    color: var(--color-black);
    font: normal normal normal var(--font-size-footer-paragraph)/var(--line-spacing-footer-paragraph) Roboto;
    letter-spacing: 0;
    margin: var(--separation-3);
    margin-top: 0;
    text-align: left;
  }

  h1 {
    margin-left: var(--separation-3);
  }

  h2 {
    line-height: 1em;
    margin-bottom: var(--separation-1);
  }
}
