$status-margin: 1em;

.status {
  background-color: var(--color-taupe-grey);
  width: 100%;

  &__publication {
    background-color: var(--color-white);
    border-radius: var(--separation-1);
    border: 1px solid var(--border-color);
  }

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 8px;
    justify-content: space-between;

    &:first-child {
      align-items: center;
      margin-top: 0;
    }

    &--media {
      justify-content: center;
    }
  }

  &__text-container {
    margin: auto;
    margin-top: 10px;
    width: calc(100% - 2 * var(--margin-status));
  }

  &__text {
    margin: 0;
    padding: 0;
    text-align: left;
    font: normal normal normal var(--font-size-status-text)/var(--line-spacing-status-text) Arial;
    letter-spacing: 0px;
    color: $color-pitch-black;
    opacity: 1;

    a {
      @extends .status__text;
    }
  }

  &__media {
    background-color: transparent;
    display: flex;
    margin: auto;
    margin-bottom: 15px;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    &-item {
      cursor: pointer;
      border-radius: var(--separation-1);
      border: 1px solid #E6E6E6;
      width: calc(100% - 2 * var(--margin-status))
    }
  }

  &__text {
    /deep/ .status__text-external-link {
      @extend .clickable;
    }

    /deep/ > span.emoji {
      display: -moz-inline-box;
      -moz-box-orient: vertical;
      display: inline-block;
      vertical-align: baseline;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 1em;
      height: 1em;
      background-size: 1em;
      background-repeat: no-repeat;
      text-indent: -9999px;
      background-position: 50%, 50%;
    }

    /deep/ > span.emoji-sizer {
      line-height: 0.81em;
      font-size: 1em;
      margin: -2px 0;
    }

    /deep/ > span.emoji-outer {
      display: -moz-inline-box;
      display: inline-block;
      *display: inline;
      height: 1em;
      width: 1em;
    }

    /deep/ > span.emoji-inner {
      display: -moz-inline-box;
      display: inline-block;
      text-indent: -9999px;
      width: 100%;
      height: 100%;
      vertical-align: baseline;
      *vertical-align: auto;
      *zoom: 1;
    }

    /deep/ > img.emoji {
      width: 1em;
      height: 1em;
    }

    @media (max-width: 375px) {
      white-space: normal;
      max-width: 320px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__links {
    padding: $separation-1;
  }

  &__vanity-metrics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 0;
    margin-bottom: 5px;
    margin-right: var(--margin-status);
    justify-content: flex-end;
  }

  &__web-intents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: var(--margin-status);
    width: 100%;
  }
}
