$status-margin: 1em;

.status {
  background-color: var(--color-taupe-grey);

  &__publication {
    background-color: var(--color-white);
    border-radius: var(--separation-1);
    border: 1px solid var(--border-color);
  }

  @extend .responsive-content;

  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 8px;
    justify-content: space-between;

    &:first-child {
      align-items: center;
      margin-top: 0;
    }

    &--media {
      justify-content: center;
    }
  }

  &__content {
    flex-direction: row;
    justify-content: flex-start;
    max-width: calc(100vw - #{$separation-2});
    padding: 0 $separation-2;
  }

  &__media {
    background-color: $color-black-light;
    display: flex;
    flex-direction: row;
    justify-content: center;
    @extend .responsive-content;

    &-item {
      cursor: pointer;
    }
  }

  &__publisher,
  &__relay {
      padding: $separation-1;
  }

  &__relay {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    .status__verb {
      line-height: $line-height-base;
    }
  }

  &__text {
    color: $color-black;
    margin-top: 0;
    margin-bottom: 0;
    max-width: calc(100vw - 16px);
    white-space: pre-line;

    /deep/ .status__text-external-link {
      font-size: 1em;
      @extend .clickable;
    }

    /deep/ > span.emoji {
      display: -moz-inline-box;
      -moz-box-orient: vertical;
      display: inline-block;
      vertical-align: baseline;
      *vertical-align: auto;
      *zoom: 1;
      *display: inline;
      width: 1em;
      height: 1em;
      background-size: 1em;
      background-repeat: no-repeat;
      text-indent: -9999px;
      background-position: 50%, 50%;
    }

    /deep/ > span.emoji-sizer {
      line-height: 0.81em;
      font-size: 1em;
      margin: -2px 0;
    }

    /deep/ > span.emoji-outer {
      display: -moz-inline-box;
      display: inline-block;
      *display: inline;
      height: 1em;
      width: 1em;
    }

    /deep/ > span.emoji-inner {
      display: -moz-inline-box;
      display: inline-block;
      text-indent: -9999px;
      width: 100%;
      height: 100%;
      vertical-align: baseline;
      *vertical-align: auto;
      *zoom: 1;
    }

    /deep/ > img.emoji {
      width: 1em;
      height: 1em;
    }

    @media (max-width: 375px) {
      white-space: normal;
      line-height: 1em;
      max-width: 320px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__links {
    padding: $separation-1;
  }

  &__vanity-metrics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 0;
    margin-bottom: 5px;
    margin-right: var(--margin-status);
    justify-content: flex-end;
  }

  &__web-intents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: var(--margin-status);
    width: 100%;
  }

  &__error {
    margin-left: 8px;
  }

  &__conversation {
    align-items: center;

    &--has-error {
      .status__web-intent--load-conversation,
      .status__web-intent--open-conversation {
        color: darken($color-beige, 40%);
      }

      .status__error {
        margin-left: 8px;
        color: darken($color-beige, 50%);
      }
    }
  }
}
