
body {
  background-color: $background-color;
  display: flex;
  font-family: $font-family;
  justify-content: center;
  margin: 0;
  scroll-behavior: smooth;
}

h2 {
  font: normal normal normal var(--font-size-footer-title)/var(--line-spacing-footer-title) Signika;
  margin-bottom: var(--separation-1);
  margin: var(--margin-title);
  margin-top: calc(3 * var(--separation-1));
  margin-bottom: var(--separation-1);
}

p {
  color: $color-white;
  font: normal normal normal var(--font-size-footer-paragraph)/var(--line-spacing-footer-paragraph) Roboto;
  letter-spacing: 0;
  margin: var(--separation-3);
  margin-top: 0;
  text-align: left;
}

button {
  border: 1px solid $color-black;
  color: $color-black;
  outline-color: transparent;
  font-family: $font-family;
}

#app {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  max-width: 360px;
}

.hide {
  display: none !important;
}

#nprogress .bar {
  background-color: $color-black !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px $color-black, 0 0 5px $color-black !important;
}

#nprogress .spinner-icon {
  border-top-color: $color-black !important;
  border-left-color: $color-black !important;
}
