
.list {
  align-items: center;
  display: flex;
  font-family: $font-family;
  flex-direction: column;
  margin-top: 0;
  padding-left: 0;
  width: 100%;

  .list__page-size,
  .list__total-pages {
    display: flex;
    margin-left: 8px;

    input {
      border-radius: 5px;
      line-height: 30px;
      padding: 3px;
      width: 50px;
      outline: transparent;
    }
  }

  .list__button,
  .list__button-search {
    align-self: center;
    background-color: transparent;
    border: 1px solid $color-black;
    border-radius: 5px;
    color: $color-black;
    display: flex;
    margin-left: 10px;
    outline: transparent;
    padding: 8px;
    cursor: pointer;

    &:hover {
      color: $color-beige;
      background-color: $color-black;
    }
  }

  &__items {
    padding: 0;
    margin: 0;
    width: 100%;

    .list__item {
      cursor: pointer;
      display: flex;
      justify-content: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
    }
  }
}
